<h1>Current Events</h1>
{{#each data}}
<ul class="list-group">

  <li><h2><a href="/{{this.id}}">{{this.eventName}}</a></h2></li>
    <h3>{{this.description}}</h3>
</ul>
{{/each}}
<a href="/new_event" type="button" class="btn btn-primary btn-lg">
  Add An Event
</a>
