<h1>Current Members</h1>
{{#each data}}
    <ul class="list-group">

        <li>
            <h3><a href="/view/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></h3></li>
    </ul>
{{/each}}
<a href="/events" type="button" class="btn btn-primary btn-lg">
  View All Current Events
</a><br><br>
<a href="/new_member" type="button" class="btn btn-primary btn-lg">
  Become A Member
</a>
