
<form class="" action="/user" method="post">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="firstName" class="form-control" id="firstName" placeholder="Enter Your First Name Here" name="title">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="lastName" class="form-control" id="lastName" placeholder="Enter Your Last Name Here" name="title">
  </div>
  <h2>What's Your Interests?</h2>
<div class="radio">
  <label class="radio-inline"><input type="radio" name="optradio">Sports</label>
<label class="radio-inline"><input type="radio" name="optradio">Art</label>
<label class="radio-inline"><input type="radio" name="optradio">Social</label>
</div>
<div class="radio">
<label class="radio-inline"><input type="radio" name="optradio">Comedy</label>
<label class="radio-inline"><input type="radio" name="optradio">Music</label>
<label class="radio-inline"><input type="radio" name="optradio">Family</label>
</div>
<div class="radio">
<label class="radio-inline"><input type="radio" name="optradio">Tech</label>
<label class="radio-inline"><input type="radio" name="optradio">Food</label>
<label class="radio-inline"><input type="radio" name="optradio">Drink</label>
</div>
<br><br>



  <button type="submit" class="btn btn-primary btn-lg" name="post">Become One Of Us</button>
  <a href ="/" type="button" class="btn btn-primary btn-lg">
    Go back to Home
  </a>
</form>
